// -----------------------------------------------
// 头部 上 -> 下
@keyframes header-effect {
  0% {
    opacity: 0.5;
    filter: alpha(opacity=50);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    filter: none;
    transform: translateY(0);
  }
}

// 内容 下 -> 上
@keyframes inner-effect {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    filter: none;
    transform: translateY(0);
  }
}

// 上下循环跳动 | 首页箭头
@keyframes scroll-down-effect {
  0% {
    opacity: 0.4;
    filter: alpha(opacity=40);
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    filter: none;
    transform: translateY(-16px);
  }
  100% {
    opacity: 0.4;
    filter: alpha(opacity=40);
    transform: translateY(0);
  }
}

// 缩放 | 首页博客名
@keyframes titlescale {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    filter: none;
    transform: scale(1);
  }
}
// 闪烁 | 首页光标
@keyframes typer-effect {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
