// app global css in SCSS form
html,body {
   font-family: "Helvetica Neue", "Helvetica", "tahoma","Arial", "PingFang SC","Hiragino Sans GB","STHeiti","Microsoft YaHei","WenQuanYi Micro Hei","sans-serif" !important;
}

// 最大宽度
.max-width {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

// 默认滚动条 样式 --------------------------------------------------------------------------------
// 滚动条整体部分
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}
// 滚动条里面的小方块
::-webkit-scrollbar-thumb {
    display: block;
    min-height: 6px;
    min-width: 6px;
    border-radius: 6px;
    background-color: rgba(97, 97, 97, .5)
}
// 滚动条 悬浮
::-webkit-scrollbar-thumb:hover {
    display: block;
    min-height: 6px;
    min-width: 6px;
    border-radius:6px;
    background-color: rgba(97, 97, 97, .6)
}

// title动画
.focus-in-contract {
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

// title字体
@media (max-width: $breakpoint-xs-max) {
  .title {
    font-size: 2rem;
    line-height: normal;
  }
}

// viewer背景色
.viewer-backdrop {
  background-color: rgba(0, 0, 0, 0.95) !important;
}