// app global css in SCSS form

// 主体高度撑满
#scrollArea {
  >.scroll {
    >div{
      height: auto;
    }
  }
} 
// 最大宽度
.max-width {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

// 默认滚动条 样式 --------------------------------------------------------------------------------
// 滚动条整体部分
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}
// 滚动条里面的小方块
::-webkit-scrollbar-thumb {
    display: block;
    min-height: 6px;
    min-width: 6px;
    border-radius: 6px;
    background-color: rgba(97, 97, 97, .5)
}
// 滚动条 悬浮
::-webkit-scrollbar-thumb:hover {
    display: block;
    min-height: 6px;
    min-width: 6px;
    border-radius:6px;
    background-color: rgba(97, 97, 97, .6)
}

// markdown 样式 --------------------------------------------------------------------------------
// iphone5/SE 适配
.v-note-wrapper {
  min-width: 280px !important;
}
// markdown 边距
.v-note-wrapper .v-note-panel .v-note-show .v-show-content,
.v-note-wrapper .v-note-panel .v-note-show .v-show-content-html {
  padding: 16px !important;
}
// 边框
.v-note-wrapper {
  border: none !important;
}
// 背景色
.v-show-content {
  background-color: rgba(256, 256, 256, 0.5) !important;
  border-radius: 10px;
}
// > 字体颜色
.markdown-body blockquote {
  background-color: #ccc;
  padding: 1em !important;
  p {
    margin-bottom: 0;
  }
}

@media (max-width: $breakpoint-xs-max) {
  // markdown 边距
  .v-note-wrapper .v-note-panel .v-note-show .v-show-content,
  .v-note-wrapper .v-note-panel .v-note-show .v-show-content-html {
    padding: 10px !important;
  }
}