// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #000000;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
 
// 所有原生组件的样式 --------------------------------------------------------------------------------
// 上传 图片高100%
.q-uploader__file--img {
    height: 100% !important ; 
}
// q-img 标题的padding
.q-img__content > div {
    padding: 6px;
}
// 侧边栏
.q-drawer--left,
.q-drawer--bordered {
  border-right: none !important;
}
// 对话栏
// .q-message-text {
//     color: #000 !important;
//     background-color: rgba(255, 255, 255, 0.5) !important;
// }
// .q-message-text--received:last-child:before {
//     color: rgba(255, 255, 255, 0.5) ;
// }
