<!DOCTYPE html>
<html>
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?8500f8b68abe3bf1c3a97e13744df550";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<head>
  <title>
    <%= productName %>
  </title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_2346517_tz4o5j9ttmb.css">
</head>

<body>
  <div id="appLoading" class="transition-loader">
    <div class="transition-loader-inner">
      <label class="iconfont icon-feiji"> </label>
      <label class="iconfont icon-feiji"></label>
      <label class="iconfont icon-feiji"></label>
      <label class="xs-none iconfont icon-feiji"></label>
      <label class="xs-none iconfont icon-feiji"></label>
      <label class="xs-none iconfont icon-feiji"></label>
    </div>
  </div>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>